.cardsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 15px;
  width: 200px;
  /* height: 370px; */
}

.poster {
  display: block;
  width: 200px;
}

.title {
  height: 37px;
}
